<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ./partials/head.ejs%>
</head>

<body>
    <div <%-include ./partials/style-wrap.ejs%>> <h1>Table Projects</h1>
        <h1>Table Owners</h1>
        <a class="btn btn-primary " href="/owners/add">Add</a>
        <table class="table" style="
        padding: 10px;">
            <thead>
                <tr style="text-align:center">
                    <th scope="col">Name</th>
                    <th scope="col">Password</th>
                    <th scope="col">Address</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone_number</th>
                    <th scope="col">Company</th>

                </tr>
            </thead>
            <tbody style="text-align:center">
                <% 
                let i = 1;
                owners.forEach(function(owner){ %>
                <tr>
                    <th scope="row">
                        <%=i%>
                    </th>
                    <td>
                        <%=owner.name%>
                    </td>
                    <td>
                        <%=owner.password%>
                    </td>
                    <td>
                        <%=owner.address%>
                    </td>
                    <td>
                        <%=owner.email%>
                    </td>
                    <td>
                        <%=owner.phone_number%>
                    </td>
                    <td>
                        <%=owner.company%>
                    </td>
                    <td>
                        <a href="/owners/update/<%= owner.id%>"><button type="button" class="btn btn-outline-warning">Update</button></a>
                        <a href="/owners/delete/<%= owner.id%>"><button type="button" class="btn btn-outline-danger"
                                onclick="return confirm('Are you sure want to delete?')">Delete</button></a>
                    </td>

                </tr>
                <%
                i++;
                })%>
            </tbody>
        </table>
    </div>
    <%- include ./partials/script.ejs%>
</body>

</html>