<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ./partials/head.ejs%>
</head>

<body>
    <div <%-include ./partials/style-wrap.ejs%>>
        <h1>Table Users</h1>
        <a class="btn btn-primary " href="/projects/add">Add</a>
        <a class="btn btn-primary " href="/owners/signout">SignOut</a>
        <table class="table" style="
        padding: 10px;">
            <thead>
                <tr style="text-align:center">
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone_number</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody style="text-align:center">
                <% 
                let i = 1;
                data.Users.forEach(function(datum){ %>
                    <tr>
                        <th scope="row">
                            <%=i%>
                        </th>
                        <td>
                            <%=datum.name%>
                        </td>
                        <td>
                            <%=datum.email%>
                        </td>
                        <td>
                            <%=datum.phone_number%>
                        </td>
                        <td>
                            <%=datum.age%>
                        </td>
                        <td>
                            <%=datum.gender%>
                        </td>
                        <td>
                            <%=datum.ProjectUser.status%>
                        </td>
                        <td>
                            <a href="/owners/hire/<%=projectid%>/<%= datum.id%>"><button type="button" class="btn btn-outline-warning"
                                    >Accept</button></a>
                        </td>

                    </tr>
                    <%
                i++;
                })%>
            </tbody>
        </table>
    </div>
    <%- include ./partials/script.ejs%>
</body>

</html>